# Dependencies
node_modules/
**/node_modules/
.pnp
.pnp.*

# Testing
coverage/
**/coverage/
.nyc_output

# Next.js
.next/
**/.next/
out/
**/out/

# Production / Build
dist/
**/dist/
build/
**/build/
*.tsbuildinfo
next-env.d.ts

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS / IDEs
.DS_Store
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.swp
*.swo
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Env files
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# Misc
.temp
.tmp
pids
*.pid
*.seed
*.pid.lock
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json